.papiez {
    text-align: center;
}
.one {
    font-size: 75px;
}
.txt2 {
    font-size: 25px;
}
.mainref {
    font-size: 20px;
    border-bottom: 1px solid rgb(204, 200, 200);
}
.about {
    font-size: 20px;
    border-bottom: 1px solid rgb(204, 200, 200);
}
.news {
    font-size: 20px;
    border-bottom: 1px solid rgb(204, 200, 200);
} 
.listmenu {
    list-style: none;
}
.divlist {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

