@tailwind base;
@tailwind components;
@tailwind utilities;

$weight-bold: 700;
$wrapper-width: 864px;
$nav-width: 1280px;

$color-text: var(--blue12);
$background-primary: var(--blue1);

$opacity-secondary: 82%;
$opacity-tertiary: 56%;

$text-small: 0.875em;
$border-radius: 4px;

/* Breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;

body {
  color: $color-text;
  background-color: white;
  line-height: 1.5;
  fill: $color-text;
}

button {
  color: $color-text;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  padding: 0 16px;
  left: 0;
  right: 0;

  box-shadow: 0 25px 50px -12px rgba(112, 174, 250, 0.18);
  border: 1px solid rgba(112, 174, 250, 0.2);

  .first_row {
    padding: 16px 0;
    display: flex;
    max-width: $nav-width;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid rgb(225, 225, 225);
  }

  backdrop-filter: blur(24px) saturate(1.5);
  background-color: hsl(0deg 0% 99% / 60%);
}

.alert {
  padding: 16px;
  overflow-x: scroll;
  max-width: $nav-width;
  margin: 0 auto;

  .content {
    font-weight: $weight-bold;
    text-align: center;
    white-space: nowrap;
  }
}

main {
  max-width: $wrapper-width;
  margin: 100px auto;
}

.page--index {
  display: grid;
  padding: 72px 0;
  gap: 64px;

  .entries-items {
    display: flex;
    gap: 16px;
    overflow-x: scroll;

    .card {
      width: 80vw;
      display: grid;
      height: 100%;
    }
  }

  .card-wrapper {
    width: 80vh;
  }

  @media only screen and (min-width: 600px) {
    .entries-items {
      overflow-x: initial;
      display: grid;

      .card-wrapper {
        width: 100%;
      }

      .card {
        width: 100%;
        height: initial;
        display: flex;
      }
    }

    .card-wrapper {
      width: 100%;
    }
  }

  .read_more {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    opacity: $opacity-tertiary;
    font-size: $text-small;

    text-transform: uppercase;
  }
}

.cards {
  display: grid;
  gap: 24px;
  padding: 0 16px;
}

.section-heading {
  text-align: center;
}

/* Menu */

.menu--mobile {
  > div {
    position: initial !important;
  }

  .list {
    backdrop-filter: blur(24px) saturate(1.5);
    // background-color: hsl(0deg 0% 99% / 60%);
    background-color: white;
    position: absolute;
    top: 120px;
    display: grid;
    gap: 8px;
    left: 0;
    width: 100%;
    padding: 16px;
  }
}

.menu--desktop {
  display: none;
  position: relative;
  justify-content: center;
  width: 100vw;
  z-index: 1;

  .list {
    display: flex;
    justify-content: center;
    // background-color: white;
    padding: 4px;
    // border-radius: 6px;
    // box-shadow: 0 2px 10px var(--blackA7);
    margin: 0;
  }

  .trigger,
  .link {
    padding: 8px 12px;
    outline: none;
    user-select: none;
    font-weight: 500;
    line-height: 1;
    // border-radius: 4px;
    font-size: 15px;
    opacity: $opacity-secondary;
  }

  // .trigger:focus,
  // .link:focus {
  //   box-shadow: 0 0 0 2px var(--violet7);
  // }

  .trigger:hover,
  .link:hover {
    background-color: var(--violet3);
  }

  .trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }

  .link {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: 250ms;
    animation-timing-function: ease;
  }

  .content[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }
  .content[data-motion="from-end"] {
    animation-name: enterFromRight;
  }
  .content[data-motion="to-start"] {
    animation-name: exitToLeft;
  }
  .content[data-motion="to-end"] {
    animation-name: exitToRight;
  }
  @media only screen and (min-width: 600px) {
    .content {
      width: auto;
    }
  }

  .indicator {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10px;
    top: 100%;
    overflow: hidden;
    z-index: 1;
    transition: width, transform 250ms ease;
  }
  .indicator[data-state="visible"] {
    animation: fadeIn 200ms ease;
  }
  .indicator[data-state="hidden"] {
    animation: fadeOut 200ms ease;
  }

  .viewport {
    position: relative;
    transform-origin: top center;
    margin-top: 10px;
    width: 100%;
    background-color: $background-primary;

    border-radius: 6px;
    overflow: hidden;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    height: var(--radix-navigation-menu-viewport-height);
    transition: width, height, 300ms ease;
  }
  .viewport[data-state="open"] {
    animation: scaleIn 200ms ease;
  }
  .viewport[data-state="closed"] {
    animation: scaleOut 200ms ease;
  }
  @media only screen and (min-width: 600px) {
    .viewport {
      width: var(--radix-navigation-menu-viewport-width);
    }
  }

  .content__list {
    display: grid;
    padding: 22px;
    margin: 0;
    column-gap: 10px;
    list-style: none;
  }
  @media only screen and (min-width: 600px) {
    .content__list.one {
      width: 500px;
      grid-template-columns: 0.75fr 1fr;
    }
    .content__list.two {
      width: 600px;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .viewportPosition {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 100%;
    left: 0;
    perspective: 2000px;
  }

  .CaretDown {
    position: relative;
    color: var(--violet10);
    top: 1px;
    transition: transform 250ms ease;
  }
  [data-state="open"] > .CaretDown {
    transform: rotate(-180deg);
  }

  .Arrow {
    position: relative;
    top: 70%;
    background-color: $background-primary;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top-left-radius: 2px;
  }

  @keyframes enterFromRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exitToLeft {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: rotateX(-30deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.details {
  .separator {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .details {
    display: flex;

    .separator {
      display: block;
    }
  }
}


.author {
  display: grid;
  gap: 4px;
  text-align: center;

  .avatar {
    margin: 0 auto;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 64px;
  }

  .description {
    opacity: $opacity-secondary;
  }
}

.entry {
  margin: 64px 0;
  display: grid;
  gap: 16px;
}

.card,
.entry {
  .content {
    opacity: $opacity-secondary;
  }
}

.cards {
  display: grid;
}

.card {
  display: flex;
  gap: 16px;

  background-color: var(--blue1);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 25px 50px -12px rgba(112, 174, 250, 0.18);
  border: 1px solid rgba(112, 174, 250, 0.2);

  .thumbnail {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 256px;
    border-radius: $border-radius;
  }

  .details {
    text-transform: uppercase;
    font-size: $text-small;
  }

  .content {
    padding: 8px 0 0 0 0;
  }

  .text {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-direction: column;

    .title {
      display: grid;
      gap: 4px;
    }
  }
}

.footer {
  margin: 32px 16px;
  display: grid;
  gap: 32px;

  .items {
    &:last {
      text-align: right;
    }
    
    display: grid;
    gap: 16px;
  }

  .items .item {
    display: grid;
    gap: 8px;

    .subitems {
      display: grid;
      gap: 4px;
    }
  }

  .socials {
    .icon {
      width: 24px;
      fill: $color-text;
      opacity: $opacity-secondary;
    }

    .items {
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }

  @media (min-width: $lg) {
    .items {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-width: 600px;

      .subitem {
        opacity: $opacity-secondary;
      }
    }
  }

  .top {
    a {
      font-weight: 700;
    }
  }

  .bottom .content {
    display: flex;
    justify-content: center;
  }

  .site_creators {
    .content {
      opacity: $opacity-secondary;
      text-align: center;

      a {
        font-weight: 700;
      }
    }
  }
}

.event {
  background-color: var(--blue1);
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 25px 50px -12px rgba(112, 174, 250, 0.18);
  border: 1px solid rgba(112, 174, 250, 0.2);

  .pagination {
    display: flex;
    justify-content: space-between;
    opacity: $opacity-tertiary;
    font-size: $text-small;
    text-transform: uppercase;

    a {
      display: inline-flex;
      align-items: center;
      gap: 4px;
    }
  }

  .date {
    text-align: center;
    border-bottom: 1px solid #4e93cf29;
    padding: 16px 0;
  }

  .content {
    opacity: $opacity-secondary;
    max-height: 35vh;
    overflow-y: scroll;
  }

  .wrapper {
    display: grid;
    gap: 16px;
  }
}

.heading[data-variant="base"] {
  font-size: 1rem;
  line-height: 1.5rem;
}

.heading[data-variant="lg"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.heading[data-variant="xl"] {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.heading[data-variant="2xl"] {
  font-size: 1.5rem;
  line-height: 2rem;
}

.layout_background {
  position: absolute;
  z-index: -2;
  filter: opacity(0.2) hue-rotate(120deg) saturate(0.75);
  height: 100%;
  object-fit: cover;
}

.layout_background_wrapper {
  position: absolute;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.layout_background_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  pointer-events: none; /* Allow clicks to go through the pseudo-element */
}

.page--entries {
  display: grid;
  gap: 16px;
  padding-top: 100px;
}

@media (min-width: $lg) {
  .menu--desktop {
    display: flex;
  }

  .menu--mobile {
    display: none;
  }

  .menu__button {
    display: none;
  }
}

/* Utils */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
