:root {
  --text-primary: rgba(0, 0, 0, 0.85);
  --text-secondary: rgba(0, 0, 0, 0.58);
  --border: #d7d7d7;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}


a {
  text-decoration: none;
  color: var(--text-secondary);
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-secondary);
  margin: 0;
}