.nav {
    padding: 16px;
}

.header {
    width: 100%;
}

.menuItem {
    max-width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 16px;
}

.menu {
    padding: 0;
    width: 100%;
    margin: 0;
}

.emptySpace {
    width: 25%;
}

@media only screen and (min-width: 768px) {
    .nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        align-content: space-between;
    }
}